* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body, html {
    width: 100%;
    height: 100%;
}

.wrap {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0db24;
    border: 1px solid blue;
    padding: 0 10px 40px;
}

.form__title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: #a63363;
}

.input__block {
    width: 80%;
}

.input__element {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button__block {
    margin: 10px 0 10px 0;
    text-align: end;
}